.container {
    padding: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 350px) {
    .bodyIMG {
        width: 250px;
    }
    .swiftIMG .javaIMG .fendIMG (min-width: 950px){
        width: 690px relative;
    }
}
@media screen and (min-width: 450px) {
    .bodyIMG {
        width: 335px;
    }
}
@media screen and (min-width: 550px) {
    .bodyIMG {
        width: inherit;
    }
}
.header {
    padding-left: 15%;
    padding-right: 5%;
}
.headerName {
    padding-top: 10%;
    color: darkgray;
    float: right;
    font-size: 35px;
}
.jobTitle {
    font-size: 20px;
    float: right;
    color: darkgray;
}
.FWname {
    float: left;
    padding-top: 1%;
    color: darkgray;
}
.line {
    padding: 0.5%;
}
.body {
    padding: 10%;
 }
.footer {
    padding-bottom: relative;
    padding-left: 1%;
}
.bodyIMG {
    width: relative;
    height: relative;
    float: inherit;
}

.javaIMG { padding: 0.5; }
.swiftIMG { padding: 0.5; }
.fendIMG { padding: 0.5; }
